certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
idna==3.7
kiwisolver==1.4.5
matplotlib==3.8.4
networkx==3.3
numpy==1.26.4
packaging==24.0
pillow==10.3.0
platformdirs==4.2.0
pooch==1.8.1
Pygments==2.17.2
pyparsing==3.1.2
PySide6==6.6.3.1
PySide6_Addons==6.6.3.1
PySide6_Essentials==6.6.3.1
python-dateutil==2.9.0.post0
pyvista==0.43.5
pyvistaqt==0.11.0
QtPy==2.4.1
requests==2.31.0
scipy==1.13.0
scooby==0.9.2
shiboken6==6.6.3.1
six==1.16.0
superqt==0.6.3
typing_extensions==4.11.0
urllib3==2.2.1
vtk==9.3.0
